<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #2 - Loop over jobs map to display all job fields -->
    <div th:if="${relevantJobs} and ${relevantJobs.size()} ?: 'nothin'">
        <h3 th:text="${relevantJobs.size()}+' job(s) found bebe'"></h3>
        <p th:if="${dumdum}">This is just a list of everything you fool.</p>
        <div>
            <table th:each="job : ${relevantJobs}" class="job-listing">
                <tr th:each="element, idx : ${job}" th:class="${idx.odd} ? 'odd'">
                    <td th:text="${element.key}"></td>
                    <td th:text="${element.value}"></td>
                </tr>
            </table>
        </div>
    </div>
    <div th:unless="${relevantJobs} and ${relevantJobs.size()}">
        <p>I ain't got nothin' for you.</p>
    </div>

</div>

</body>
</html>